@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.btn-Nombre {
  background-color: #343a40;
  border: none;
}

.header {
  margin-bottom: 80px;
}
